@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.headnav{
  background-color: #627264;
  height: 18vh;
}
.sortbar{
  background-color: #81CDA8;
  height: 82vh;
}
.transparentsort{
  background-color: #f3f3f377;
}


